.App {
  width: 50%;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  font-family: "Damion", cursive;
}

.title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  font-style: italic;
}
