.register {
  width: 100%;
  background-color: #f8f9fa !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.register form {
  width: 25%;
  margin: 0 auto !important;
}

.register form table {
  width: 100%;
  margin: 2px 0;
}

.register form table tbody {
}

.register form table tbody tr {
}

.register form table tbody tr td {
}
